@font-face {
  font-family: "Hind-Bold";
  src: url(../assets/fonts/Hind-Bold.ttf);
  font-family: "Hind-Regular";
  src: url(../assets/fonts/Hind-Regular.ttf); }

h1 {
  font-family: Hind-Bold !important;
  color: #DEE2E6; }

h2 {
  font-family: Hind-Bold !important;
  color: #212529; }

h3:hover {
  text-decoration: underline; }

h3 {
  font-family: Hind-Bold !important;
  color: #212529; }

h4:hover {
  text-decoration: underline; }

h4 {
  font-family: Hind-Bold !important;
  color: #212529; }

h5:hover {
  text-decoration: underline; }

h5 {
  font-family: Hind-Bold !important;
  color: #212529; }

body {
  overflow-x: hidden;
  height: 100%;
  width: 100%; }

.underlineNoticias:hover {
  text-decoration: none; }

p {
  font-family: Hind-Regular;
  font-size: 1.12rem;
  color: #555459; }

#headerUno {
  background-color: #343A40; }

.listaNavUno {
  padding-left: 3vw; }

.textoHeaderTres {
  color: #e6e6e6;
  font-family: Hind-Regular; }

footer {
  height: 5vh; }

.textoFooter {
  color: #a0a0a0; }

img:hover {
  animation: pulse;
  animation-duration: 1s; }

.imgNoticias:hover {
  animation: none; }

a {
  text-decoration: none;
  outline: none; }

@media only screen and (max-width: 991.98px) {
  .headerMobile {
    display: flex;
    justify-content: center; }
  footer {
    height: 10vh; }
    footer nav div {
      display: flex;
      justify-content: center; }
  .listaNavUno {
    padding-left: 0vw; } }

@media only screen and (max-width: 767.98px) {
  .headerMobile {
    display: flex;
    justify-content: center; }
  footer {
    height: 10vh; }
    footer nav div {
      display: flex;
      justify-content: center; }
  .listaNavUno {
    padding-left: 0vw; }
  .btnBuscar {
    display: none !important; } }

@media only screen and (max-width: 575.98px) {
  .headerMobile {
    display: flex;
    justify-content: center; }
  footer {
    height: 10vh; }
    footer nav div {
      display: flex;
      justify-content: center; }
  .listaNavUno {
    padding-left: 0vw; }
  .btnBuscar {
    display: none !important; } }
