@font-face {
  font-family: "Hind-Bold";
  src: url(../assets/fonts/Hind-Bold.ttf);
  font-family: "Hind-Regular";
  src: url(../assets/fonts/Hind-Regular.ttf); }

body {
  overflow-x: hidden;
  height: 100%;
  width: 100%; }

h1 {
  font-family: Hind-Bold !important;
  color: #DEE2E6; }

h2 {
  font-family: Hind-Bold !important;
  color: #212529; }

h3:hover {
  text-decoration: underline; }

h3 {
  font-family: Hind-Bold !important;
  color: #212529; }

h4:hover {
  text-decoration: underline; }

h4 {
  font-family: Hind-Bold !important;
  color: #212529; }

h5:hover {
  text-decoration: underline; }

h5 {
  font-family: Hind-Bold !important;
  color: #212529; }

p {
  font-family: Hind-Regular;
  font-size: 18px;
  color: #555459; }

a {
  text-decoration: none;
  outline: none; }

#headerUno {
  background-color: #343A40; }

#headerDos div nav div div ul li {
  font-size: 16.84211px; }

#headerDos div nav div div ul .listaNavUno {
  padding-left: 3vw; }

.headerTres nav div .textoHeaderTres {
  font-family: Hind-Regular; }

.textoHeaderTres {
  color: #e6e6e6; }

.textoFooter {
  color: #a0a0a0; }

img:hover {
  animation: pulse;
  animation-duration: 1s; }

main div section div .imgNoticias:hover {
  animation: none; }

main div section div div .underlineNoticias:hover {
  text-decoration: none; }

main div div div .underlineNoticias:hover {
  text-decoration: none; }

main div div div .imgNoticias:hover {
  animation: none; }

section .compartir ul {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  section .compartir ul li .twitter {
    color: #1d9bf0; }
  section .compartir ul li .facebook {
    color: #1877f2; }
  section .compartir ul li .whatsapp {
    color: #00e676; }
  section .compartir ul li .instagram {
    color: #ea0c5f; }
  section .compartir ul li .fa-shake {
    animation-duration: 0s; }
  section .compartir ul li .fa-shake:hover {
    animation-duration: 2s; }

footer {
  height: 10vh; }
  footer nav div ul li a {
    font-size: 17.77778px; }
  footer nav div ul li .errorFooter {
    font-size: 15.2px; }

@media only screen and (max-width: 991.98px) {
  header .headerMobile {
    display: flex;
    justify-content: center; }
  footer {
    height: 10vh; }
    footer nav div {
      display: flex;
      justify-content: center; }
  #headerDos div nav div div ul .listaNavUno {
    padding-left: 0vw; } }

@media only screen and (max-width: 767.98px) {
  header .headerMobile {
    display: flex;
    justify-content: center; }
  footer {
    height: 10vh; }
    footer nav div {
      display: flex;
      justify-content: center; }
  #headerDos div nav div div ul .listaNavUno {
    padding-left: 0vw; }
  .btnBuscar {
    display: none !important; } }

@media only screen and (max-width: 575.98px) {
  header .headerMobile {
    display: flex;
    justify-content: center; }
  footer {
    height: 10vh; }
    footer nav div {
      display: flex;
      justify-content: center; }
  #headerDos div nav div div ul .listaNavUno {
    padding-left: 0vw; }
  .btnBuscar {
    display: none !important; } }

.noEncontrada {
  background-color: #343a40; }
