@mixin headers {
    #headerUno {
        background-color: map-get($paletaDeColores, "color-headerUno");
    }

    #headerDos {
        div {
            nav {
                div {
                    div {
                        ul {
                            .listaNavUno {
                                padding-left: 3vw;
                            }
                        }
                    }
                }
            }
        }
    }

    .headerTres {
        nav {
            div {
                .textoHeaderTres {
                    font-family: map-get($fuentes, "regular");
                }
            }
        }
    }
}