@mixin flexbox ($posicionamiento:col) {
    display: flex;
    justify-content: center;
}


@mixin mediaQuery ($vista) {


    @if $vista==desktop {
        @media only screen and (max-width:991.98px) {
            .headerMobile {
                @include flexbox($posicionamiento:col);
            }

            .footerMobile {
                @include flexbox($posicionamiento:col);
            }

            .listaNavUno {
                padding-left: 0vw;
            }

            footer {
                height: 10vh;
            }

        }
    }

    @else if $vista==tablet {
        @media only screen and (max-width:767.98px) {
            .headerMobile {
                @include flexbox($posicionamiento:col);
            }

            .footerMobile {
                @include flexbox($posicionamiento:col);
            }

            footer {
                height: 10vh;
            }

            .btnBuscar {
                display: none !important;
            }
        }
    }

    @else if $vista==mobile {
        @media only screen and (max-width:575.98px) {
            .headerMobile {
                @include flexbox($posicionamiento:col);
            }

            .footerMobile {
                @include flexbox($posicionamiento:col);
            }

            footer {
                height: 10vh;
            }

            .btnBuscar {
                display: none !important;
            }
        }
    }

}