@import './variables';
@import './fuentes';

body {
    overflow-x: hidden;
    height: 100%;
    width: 100%;
}

@import './headers';
@import './titulos';
@import './main';
@import './footer';

@import './mediaQuery';
@include mediaQuery(map-get($vista, "vistaDesktop"));
@include mediaQuery(map-get($vista, "vistaDesktopSm"));
@include mediaQuery(map-get($vista, "vistaTablet"));
@include mediaQuery(map-get($vista, "vistaMobile"));